<p></p>
<div id="container">
  <blockquote class="example-left">
    <p>
      23日22点开始由于武广20芯光缆衰耗过大，导致京沪穗、广坪2.5G、省北环等多个系统中断，从而使分公司互联网至广州出口中断4个GE口，因此从22点至23点网络出口出现拥塞现象，影响到用户上网体验，按省网管指示网维中心于24日6点开始进行出口倒代，现已经倒通1个GE口，正在倒代另一个GE口，预计今晚20点至22点进行省北环割接。请服务质量监督中心及各经营部密切留意用户反馈及投诉，若有疑问请咨询网维中心。
    </p>
  </blockquote>
  <p></p>
  <blockquote class="example-right">
    <p>Design is directed toward human beings. To design is to solve human problems by identifying them and
      executing the best solution.</p>
  </blockquote>


</div>