<!DOCTYPE html>
<html>
<head>
  <title>Logbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href="custom.css" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
